li button {
    font-weight: bold;
    background: none;
    border: 0;
    color: red;
    padding: 0;
    float: right;
    margin-left: 10px;
}

#tasks {
    margin: 10px;
}

.completed {
    color: grey;
    text-transform: uppercase;
}
